/*--------------------All-------------------------*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
li {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/*---------------------Navigation------------------------------*/
.navigation {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  padding: 25px 0;
}
.navigation-title {
  display: flex;
  align-items: center;
}

.navigation-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-logo {
  position: relative;
  margin-right: 76px;
  color: #404bbf;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.navigation-logo .link:hover {
  color: #404bbf;
}
.navigation-logo .link:focus {
  color: #404bbf;
}
.navigation-list .link:hover {
  color: #404bbf;
}
.navigation-list .link:focus {
  color: #404bbf;
}
.navigation-list {
  position: relative;
  display: none;
  gap: 40px;
}

.navigation-link {
  position: relative;
  color: #404bbf;
  padding: 24px 0;
  font-family: "Roboto" sans-serif;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  display: none;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  content: "";
}
.navigation-link .link:hover {
  color: #404bbf;
}
.navigation-link .link:focus {
  color: #404bbf;
}
.navigation-contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-link .link::after {
  content: normal;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.navigation-title-contacts {
  display: none;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-contacts-link:hover,
.navigation-contacts-link:focus {
  color: #404bbf;
}
.navigation-contacts-list {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-contacts {
  display: flex;
  gap: 40px;
}
.span-logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.span-logo-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-black-color: #434455;
  --primary-white-color: #f4f4fd;
  --secondary-accent-color: #404bbf;
}
.headerc {
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/*--------------------Section Hero-------------------------------*/
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  flex-shrink: 0;
  padding: 112px 0;
}
.hero-title {
  text-align: center;
  max-width: 496px;
  color: #ffffff;
  line-height: 1.11;
  letter-spacing: 0.02em;
  gap: 48px;
  margin: 0 54px 72px 54px;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}
.hero-btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*---------------------Section Company------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.company {
  padding: 120px 0;
  width: 100%;
}
.company-list {
  gap: 24px;
}

.company-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  margin-bottom: 72px;
}
.company-subtitle {
  display: flex;
  color: #2e2f42;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  justify-content: center;
}
.company-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.company-icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f4f4fd;
  position: relative;
  padding: 24px 100px;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}
/*------------------------Section Work------------------*/
.work {
  padding-bottom: 120px;
  display: none;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-item {
  display: block;
}
.work-subtitle {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.workc {
  display: block;
}
/*----------------------Section Team-----------------*/
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
  width: 100%;
}
.team-subtitle {
  display: block;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  margin-left: 82px;
  margin-right: 82px;
}
.team-name {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-item {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: 100%;
}
.team-position {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.name {
  padding: 32px 0;
  text-align: center;
}
.teamc {
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-medial-icon {
  display: flex;
  justify-content: center;
}
.border-icon {
  display: flex;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border-icon:hover,
.border-icon:focus {
  background-color: #404bbf;
}
/*---------------------Section Customs-----------------*/
.customs {
  display: flex;
  padding: 120px 0;
  width: 100%;
}
.customs-subtext {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}
.customs-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  justify-content: center;
}
.customs-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customs-link:hover,
.customs-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customs-item {
  display: flex;
  justify-content: space-between;
  height: 88px;
  position: relative;
}
.customs-icon {
  padding: 16px 32px;
  width: 168px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

/*---------------------Section Footer-----------------*/
.footer {
  display: flex;
  padding: 100px 0;
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  width: 100%;
  flex-shrink: 0;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 72px;
}
.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0px;
}
.footer-title {
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0;
  margin: auto;
}
.footer-subtext {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 16px;
}

.social-footer-icon {
  display: flex;
  gap: 16px;
}
.border-icon-footer {
  display: flex;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.border-icon-footer:hover,
.border-icon-footer:focus {
  background-color: #31d0aa;
}
.email {
  margin-top: 72px;
}
.form-footer {
  position: relative;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.email-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.email-label {
}
.input-label {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
input[type="email"]::placeholder {
  color: #ffffff;
  padding-left: 16px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.subscribe {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  background: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  outline: transparent;
  border-style: none;
  padding: 8px 64px 8px 24px;
  min-width: 165px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
}
.svg-subscribe {
  fill: #ffffff;
  background-color: #4d5ae5;
  position: absolute;
  bottom: 8px;
  right: 135px;
  margin-left: 16px;
  text-align: center;
}

/*--------------------Portfolio----------------------*/

/*-------------------------Section Button--------------------*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-link {
  display: flex;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  background-color: #f4f4fd;
  color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-style: normal;
}
.button-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  gap: 24px;
  margin-bottom: 72px;
}
.button-link:hover,
.button-link:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-link::before {
  background-color: #4d5ae5;
  color: #f4f4fd;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/*---------------------------Section Images-------------------*/
.images-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.images-text {
  color: #434455;
  font-size: 16px;
}
.images-link {
}
.images-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.images-link-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-link-item:hover,
.images-link-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.images-link-item:hover .overlay {
  transform: translateY(0%);
}
.images-link-item:focus .overlay {
  transform: translateY(0%);
}
.name-images {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box:hover .overlay,
.box:focus .overlay {
  transform: translatey(0);
}
/*------------------Modal page---------------------*/

.modal-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-page-open {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-label {
  margin-bottom: 8px;
}
.modal-label-title {
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-container-form {
  position: relative;
}
.modal-input-svg {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-svg:focus {
  border-color: #4d5ae5;
}
.modal-input-svg:focus + .svg-modal {
  fill: #4d5ae5;
}
.svg-modal {
  position: absolute;
  fill: #000;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-last {
  margin-bottom: 16px;
}
.textarea-container {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42, rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-container:focus,
.textarea-container:hover {
  border-color: #4d5ae5;
}
.modal-checkbox {
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.privacy-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-privacy-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.modal-link {
  color: #4d5ae5;
}
.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
.input-checkbox:checked + .privacy-checkbox span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
::placeholder {
  color: #2e2f42, rgba(46, 47, 66, 0.4);
  opacity: 0.5;
}

/* -------------------Menu back----------------------------- */
.open-menu {
  margin: auto;
  margin-right: 0;
}
.open-menu-image {
  stroke: #2e2f42;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: #ffffff;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.mob-top {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.navigation-item-mob {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 0px;
  width: 100%;
}
.current {
}
.navigation-link-mobs {
  color: #404bbf;
  font-family: "Roboto" sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.navigation-link-mob {
  color: #2e2f42;
  font-family: "Roboto" sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-bottom {
  margin-left: 40px;
  margin-top: 20px;
}
.nav-mob {
  margin-top: 80px;
}
.nav-mob-list {
  margin-bottom: 48px;
}
.nav-mob-cont {
  margin-bottom: 40px;
}
.tel {
  color: #4d5ae5;
  font-family: "Roboto" sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.email {
  color: #434455;
  font-family: "Roboto" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mob-soc-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
}
.mob-soc-item {
}
.icon-mob {
  display: flex;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------Tablets------------------------*/

@media (min-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .navigation-list {
    position: relative;
    display: flex;
    gap: 40px;
    margin-left: 50px;
  }
  .navigation-title-contacts {
    display: flex;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .open-menu {
    display: none;
    margin: auto;
    margin-right: 0;
  }
  .navigation-contacts-list {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-contacts {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-left: 80px;
  }
  .navigation-contacts-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .headerc {
    display: flex;
  }
  .current::after {
    display: flex;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    content: "";
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name.jpg);
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    flex-shrink: 0;
    padding: 112px 0;
  }
  .hero-title {
    color: var(--white, #fff);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 768px;
  }
  .company {
    width: 100%;
    padding: 96px 0px;
  }
  .company-list {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .company-item {
    flex-basis: Calc((100% - 70px) / 2);
    margin-bottom: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .company-subtitle {
    display: flex;
    color: #2e2f42;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    justify-content: center;
  }
  .company-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .company-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 264px;
    background: #f4f4fd;
    position: relative;
    padding: 24px 100px;
    border-radius: 4px;
    margin-bottom: 8px;
    display: none;
  }
  .team {
    padding: 120px 0;
    background-color: #f4f4fd;
    width: 100%;
  }
  .team-subtitle {
    display: block;
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-left: 82px;
    margin-right: 82px;
  }
  .team-name {
    margin-bottom: 8px;
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    width: 264px;
    margin-bottom: 64px;
  }
  .team-position {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .name {
    padding: 32px 0;
    text-align: center;
  }
  .teamc {
  }

  .social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .social-medial-icon {
    display: flex;
    justify-content: center;
  }
  .border-icon {
    display: flex;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .border-icon:hover,
  .border-icon:focus {
    background-color: #404bbf;
  }
  .customs {
    display: flex;
    padding: 120px 0;
    width: 100%;
  }
  .customs-subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
  }
  .customs-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .customs-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8f99;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customs-link:hover,
  .customs-link:focus {
    border-color: #404bbf;
    color: #404bbf;
  }
  .customs-item {
    display: flex;
    justify-content: space-between;
    height: 88px;
    position: relative;
  }
  .customs-icon {
    padding: 16px 32px;
    width: 168px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
  }
  .footer {
    display: flex;
    padding: 100px 0;
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif;
    width: 100%;
    flex-shrink: 0;
  }
  .footer-wrap {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    gap: 72px;
    margin-left: 100px;
  }
  .social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .footer-link {
    display: inline-flex;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
    width: 264px;
  }
  .footer-title {
    justify-content: start;
    font-family: "Roboto", sans-serif;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0;
  }
  .footer-subtext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0px 0px 16px 0px;
  }
  .social-media-footer {
    display: flex;
    flex-direction: column;
    width: 208px;
  }
  .social-footer-icon {
    display: flex;
    gap: 16px;
  }
  .border-icon-footer {
    display: flex;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .border-icon-footer:hover,
  .border-icon-footer:focus {
    background-color: #31d0aa;
  }
  .email {
    margin-top: 72px;
    width: 453px;
    height: 80px;
  }
  .form-footer {
    position: relative;
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .email-title {
    display: flex;
    margin-bottom: 16px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  .email-label {
  }
  .input-label {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
  }
  input[type="email"]::placeholder {
    color: #ffffff;
    padding-left: 16px;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  .subscribe {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    background: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    outline: transparent;
    border-style: none;
    padding: 8px 64px 8px 24px;
    min-width: 165px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
  }
  .svg-subscribe {
    fill: #ffffff;
    background-color: #4d5ae5;
    position: absolute;
    bottom: 8px;
    right: 25px;
    margin-left: 16px;
    text-align: center;
  }
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
    width: 100%;
  }

  .button-link {
    display: flex;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    padding: 12px 24px;
    background-color: #f4f4fd;
    color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-style: normal;
  }
  .button-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .button-link:hover,
  .button-link:focus {
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #404bbf;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .button-link::before {
    background-color: #4d5ae5;
    color: #f4f4fd;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
}

@media (min-width: 1158px) {
  .navigation {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .navigation-title {
    display: flex;
    align-items: center;
    margin-left: 156px;
    margin-right: 332px;
  }

  .navigation-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-logo {
    position: relative;
    margin-right: 76px;
    color: #404bbf;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-logo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .navigation-logo .link:hover {
    color: #404bbf;
  }
  .navigation-logo .link:focus {
    color: #404bbf;
  }
  .navigation-list .link:hover {
    color: #404bbf;
  }
  .navigation-list .link:focus {
    color: #404bbf;
  }
  .navigation-list {
    position: relative;
    display: flex;
    gap: 40px;
  }

  .navigation-link {
    position: relative;
    color: #404bbf;
    padding: 24px 0;
    font-family: "Roboto";
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    content: "";
  }
  .navigation-link .link:hover {
    color: #404bbf;
  }
  .navigation-link .link:focus {
    color: #404bbf;
  }
  .navigation-contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .navigation-link .link::after {
    content: normal;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .navigation-title-contacts {
    display: flex;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 0px;
  }
  .navigation-contacts-link:hover,
  .navigation-contacts-link:focus {
    color: #404bbf;
  }
  .navigation-contacts-list {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-contacts {
    display: flex;
    gap: 40px;
    flex-direction: row;
    margin-left: 0px;
  }
  .span-logo {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .span-logo-footer {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  :root {
    --primary-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --primary-black-color: #434455;
    --primary-white-color: #f4f4fd;
    --secondary-accent-color: #404bbf;
  }
  .headerc {
    display: flex;
    margin: 0;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  /*--------------------Section Hero-------------------------------*/
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name.jpg);
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1440px;
    height: 600px;
    flex-shrink: 0;
    padding: 188px 0;
    margin: auto;
  }
  .hero-title {
    text-align: center;
    max-width: 496px;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    gap: 48px;
    margin: 0 auto 48px auto;
  }
  .hero-btn {
    margin: 0 auto;
    text-align: center;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
  }

  /*---------------------Section Company------------------*/
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .company {
    padding: 120px 0;
    display: flex;
  }
  .company-list {
    display: flex;
    gap: 24px;
  }

  .company-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .company-subtitle {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .company-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .company-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background: #f4f4fd;
    position: relative;
    padding: 24px 100px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  /*------------------------Section Work------------------*/
  .work {
    padding-bottom: 120px;
  }
  .work-list {
    display: flex;
    gap: 24px;
  }
  .work-item {
    display: block;
  }
  .work-subtitle {
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .workc {
    display: block;
  }
  /*----------------------Section Team-----------------*/
  .team {
    padding: 120px 0;
    background-color: #f4f4fd;
  }
  .team-subtitle {
    display: block;
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .team-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .team-name {
    margin-bottom: 8px;
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .team-item {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
  }
  .team-position {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .name {
    width: 264px;
    padding: 32px 0;
    text-align: center;
  }
  .teamc {
  }

  .social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .social-medial-icon {
    display: flex;
    justify-content: center;
  }
  .border-icon {
    display: flex;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .border-icon:hover,
  .border-icon:focus {
    background-color: #404bbf;
  }
  /*---------------------Section Customs-----------------*/
  .customs {
    display: flex;
    padding: 120px 0;
  }
  .customs-subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
  }
  .customs-list {
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customs-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8f99;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customs-link:hover,
  .customs-link:focus {
    border-color: #404bbf;
    color: #404bbf;
  }
  .customs-item {
    width: 168px;
    height: 88px;
    border-radius: 4px;
  }
  .customs-icon {
    padding: 16px 32px;
    width: 168px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
  }

  /*---------------------Section Footer-----------------*/
  .footer {
    display: flex;
    padding: 50px 0;
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif;
    width: 100%;
    flex-shrink: 0;
    margin: auto;
  }
  .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .footer-link {
    display: flex;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .container-footer {
  }
  .footer-title {
    font-family: "Roboto", sans-serif;
    width: 264px;
    max-width: 264px;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .footer-subtext {
    margin-bottom: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .social-media-footer {
  }
  .social-footer-icon {
    display: flex;
    gap: 16px;
  }
  .border-icon-footer {
    display: flex;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .border-icon-footer:hover,
  .border-icon-footer:focus {
    background-color: #31d0aa;
  }
  .email {
    margin-top: 0px;
  }
  .form-footer {
    position: relative;
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .email-title {
    display: flex;
    margin-bottom: 16px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  .email-label {
  }
  .input-label {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
  }
  input[type="email"]::placeholder {
    color: #ffffff;
    padding-left: 16px;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    background: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    outline: transparent;
    border-style: none;
    padding: 8px 64px 8px 24px;
    min-width: 165px;
    cursor: pointer;
  }
  .svg-subscribe {
    fill: #ffffff;
    background-color: #4d5ae5;
    position: absolute;
    bottom: 8px;
    right: 24px;
    margin-left: 16px;
  }

  /*--------------------Portfolio----------------------*/

  /*-------------------------Section Button--------------------*/
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .button-link {
    display: flex;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    padding: 12px 24px;
    background-color: #f4f4fd;
    color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  .button-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .button-link:hover,
  .button-link:focus {
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #404bbf;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .button-link::before {
    background-color: #4d5ae5;
    color: #f4f4fd;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  /*---------------------------Section Images-------------------*/
  .images-subtitle {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .images-text {
    color: #434455;
    font-size: 16px;
  }
  .images-link {
  }
  .images-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .images-link-item {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .images-link-item:hover,
  .images-link-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .images-link-item:hover .overlay {
    transform: translateY(0%);
  }
  .images-link-item:focus .overlay {
    transform: translateY(0%);
  }
  .name-images {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .box {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    color: #f4f4fd;
    background: #4d5ae5;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .box:hover .overlay,
  .box:focus .overlay {
    transform: translatey(0);
  }
}
